*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-repeat: no-repeat;
    background: linear-gradient(to right, pink, rgb(255, 176, 29), skyblue);
}
.container{
    width: 100%;
    
}
.head{
    display: flex;
    flex-direction: row;
    display: inline-flex;
}
button{
    border: none;
    cursor: pointer;
}
.back-arrow{
    height: 28px;
    width: 28px;
    background: linear-gradient(pink, rgb(255, 176, 29), skyblue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 1rem;
    margin-left: 2rem;
}
.reward{
    height: 28px;
    width: 28px;
    background: linear-gradient(pink, rgb(255, 176, 29), skyblue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 1rem;
    margin-right: 2rem;
}
.head h2{
    text-align: center;
    margin: auto;
    padding-top: 1rem;
}
.app-box{
    width: 60%;
    background-color: white;
    margin-top: 3rem;
    margin-left: 16rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
/* //headline */
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question h2{
    padding-left: 2rem;
    display: inline-block;
}
/* //circel number */
.progress-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center; 
}
.progress-circle {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}
.progress-circle-background {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 3;
    stroke: url(#gradient);
}
.progress-circle-progress {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: progress-animation 3s  forwards;
}
.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: #333;
}
@keyframes progress-animation {
   0%{
    stroke-dashoffset: 440;
   }
   25%{
    stroke-dashoffset: 330;
   }
    50%{
     stroke-dashoffset: 220;
    }
    75%{
     stroke-dashoffset: 110;
    }
    100%{
     stroke-dashoffset: 0;
    }
}
/* //Time  */
.time{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.timer-container {
    width: 60%;
    max-width: 300px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.timer-bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, pink, rgb(255, 176, 29), skyblue, rgba(0, 0, 255, 0.539));
    transition: width 1s linear;
}
.timerText{
    margin-right: 1rem;
    font-size: 1rem;
}

/* Question  */
.question-text{
    display: flex;
    width: 80%;
    height: 20vh;
    background: linear-gradient(to right, pink, rgb(255, 176, 29), skyblue);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}
/* options */

.options{
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    width: 80%;
    margin-top: 0.6rem;
    align-items: center;
    justify-content: space-between; 
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(0, 0,0, 0.15);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.options:hover{
    background: linear-gradient(to right, pink, rgb(255, 176, 29), skyblue);
    transform: translate(2s ease);
}
.symbol{
    height: 20px;
    width: 20px;
    background-color: rgba(128, 128, 128, 0.194);
    float: left;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 4px;
    display: flex;
}
.options-box{
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.submit{
    height: 2.5rem;
    width: 80%;
    margin-top: 2.5rem;
    align-items: center;
    border: none;
    margin-left: 5rem;  
    margin-bottom: 2rem;
    box-shadow: 1px 1px 1px 1px rgb(0, 0,0, 0.15);
    border-radius: 10px;
    background: linear-gradient(to left, pink, rgb(255, 176, 29), skyblue);
    display: none;
}