*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: #333;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width : 100%;
    min-height: 100vh;
}
.box{
    width: 30%;
    background-color: #ffe0e5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.top-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 300px;
}
.top-box div{
    border: none;
    border-radius: 50%;
    background: rgb(235, 226, 226);
    color: rgb(227, 116, 135);
    height: 1.5rem;
    width: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.box img{
    width: 250px;
    border-radius: 50%;
    text-align: center;
    border: 8px solid white;
}
.rotateimg{
    animation: rotate 30s infinite;
    /* height: 1rem; */
}
@keyframes rotate {
    100%{
        rotate: 360deg;
    }
}
.box h3{
    text-align: center;
    margin-top: 0.5em;
}
.box p{
    text-align: center;
    margin-top: 0.5rem;
}
#progess{
    /* -webkit-appearance: none; */
    appearance: none;
    width: 90%;
    height: 6px;
    background-color: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#progess::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.controls div{
    height: 50px;
    width: 50px;
    background: #f53192;
    border-radius: 50%;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
}
#play{
    height: 70px;
    width: 70px;
    padding-top: 22px;
    font-size: 1.4rem;
}